STRAVA_CLIENT_ID=156114
STRAVA_CLIENT_SECRET=your_client_secret
STRAVA_REDIRECT_URI=http://localhost:3000/strava/oauth/callback
STRAVA_VERIFY_TOKEN=STRAVA
STRAVA_API_BASE_URL=https://www.strava.com/api/v3
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=strava_db